
.coupon-btn, .apply-btn {
    border: 1px solid lightgreen;
    border-radius: 10px;
    background: lightgreen;
    width: fit-content;
    padding: 4px;
    cursor: pointer;
}

.after-applyBtn {
    display: flex;
}

.p-error {
    color: red;
    font-size: small;
    flex-wrap: wrap;
    margin: 0 0 0 1rem;
    display: flex;
}