.list-of-coupons {
    padding: 0;
}

.coupon {
    font-size: large;
    margin: 5px 0 5px 20px;
}

.coupon-desc{
    padding: 0;
    margin: 0 0 0 2rem;
    font-size: x-small;
    color: green;
}

.hideAndShow-btn {
    border: 1px solid lightgray;
    border-radius: 10px;
    background: lightgray;
    width: fit-content;
    padding: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.hideAndShow-btn:hover {
    border: 1px solid gray;
    background: gray;
}